# dependencies
/paneer/node_modules
/paneer/.pnp
/paneer/.pnp.js

# testing
/paneer/coverage

# production
/paneer/build

# misc
/paneer/.DS_Store
/paneer/.env.local
/paneer/.env.development.local
/paneer/.env.test.local
/paneer/.env.production.local

/paneer/npm-debug.log*
/paneer/yarn-debug.log*
/paneer/yarn-error.log*
